/* ========================================================================
Style for screen of any size
=========================================================================== */

/* === Global style and general element selectors === */

* {
  box-sizing: border-box;
  padding: 0;
}

body {
   min-height: 100vh;
   display: flex;
   margin: 0;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
}


/* === Input element === */

input {
  display: block;
  margin: 5px auto 15px;
  width: 50%;
  height: 50px;
  border: 2px solid #777;
  border-radius: 8px;
  font-size: 1.5em;
  color: #001a53;
}

input::placeholder {
  padding-left: 10px;
}


input:focus,
input:active {
  outline: none;
   border: 2px solid #4EBBB5;
   border-radius: 8px;
   transform: scaleY(1.1);
   transition: 200ms;

}

input:hover {
   outline: none;
   border-color: #0051ff;
   transition: 300ms;
   cursor: pointer;

}

/* === Gallery === */

.gallery {
   max-width: 850px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
   grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
   grid-gap: 15px 15px;
   grid-auto-rows: minmax(200px, 1fr);
   justify-content: center;

}

img[src^="img/thumbnails/"] {
   display: block;
   width: 100%;
   border-radius: 5px;
   box-shadow: 5px 5px 3px grey;
   filter: grayscale(50%);
   transition: all 250ms;
}

img[src^="img/thumbnails/"]:hover {
   filter: grayscale(0%);
   border-radius: 10px;
   box-shadow: 6px 7px 3px 3px rgb(175, 175, 175);
   transform: scale(1.05) translateY(-5px);
}

a {
   position: relative;
}

/* It shows the caption when hovering the picture */

.overlay {
   position: absolute;
   bottom: 0;
   color: #d4d1d1;
   width: 100%;
   transition: .5s ease;
   opacity:0;
   color: white;
   font-size: 1.5em;
   padding: 5px;
   text-align: center;
 }


a:hover .overlay {
   opacity: 1;
}

/* === Message  === */

.warningCpt {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   color: red;
}

.warningImg {
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
}

/* === Footer === */

footer {
   margin-top: auto;
   margin-bottom: 0;
   padding: 0;
   text-align: center;
}

footer > p {
   margin: 10px 0 0 0;
}

/* ========================================================================
Style for Mobile devices with a Screen size of 768px and smaller
=========================================================================== */

@media screen and (max-width: 768px) {
   input {
      width: 80%;
      height: 40px;
   }
}
