/* ============================================= */
/*                    Maps                      */
/* ============================================= */

$color-buttons: (
 'default': $color-secondary,
   'error': #e4757a,
    'info': #927bc1,
 'success': #63cc82,
 'warning': #fd7856,
);

/* ============================================= */
/*                    Lists                      */
/* ============================================= */

$buttons: ('default',
           'error',
           'info',
           'success',
           'warning');

$color-list-grid: (get-grid-color('info'), //3
                   get-grid-color('warning'), //5
                 #deb2ee,
                 #7ee6fd,
                 #88d9a0,
                 #4da2bb,
                 #ec9fa3,
                 #fd9f85,
                   get-grid-color('error'), //2
                   get-grid-color('success'), //4
                   get-grid-color('default'), //1
                 #80e8d1,
);
