// =========================================
//  Mixins
// =========================================

// I have tride to use @extend with placeholder "%" but it does not compile.

@mixin margine-lr($disp: null, $left: auto, $right: auto) {
   display: $disp;
   margin-left: $left;
   margin-right: $right;
}

@mixin img {
   @include margine-lr($disp: block);
   margin-top: 10px;
   max-width: 100%;
}

@mixin flex ($disp: flex, $flex-bs: null, $flex-d: null){
   display: $disp;
   flex-basis: $flex-bs;
   flex-direction: $flex-d;
}


 
