// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;
$gray-light: #ccc;

$color-primary: #58e1c1; // light green
$color-secondary: #51ddfc; // Cyan

$color-text: #777; // grey

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Layout
$max-width:1400px;
$flex-basis: 100%;
$flex-ratio: 8.3333333333333%;

// Breakpoints
$break: 768px;
